### Java ###
*.iml
target/
.idea/
logs/
.gitignore

### Windows shortcuts ###
*.lnk
### Windows image file caches ###
Thumbs.db
ehthumbs.db
### Folder config file ###
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
